@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,500&display=swap');
/* Google Fonts */
h2, h1 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    line-height: 0.8;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow: auto;
}

body {
    font: 15px/1.5 "Montserrat", Helvetica, sans-serif;
    color: #F6F4F4;
    background: #FF7517;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: crosshair;

}

dd {
    margin: 0;
    padding: 0;
}

dl {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


a {
    color: inherit;
    position: relative;
    /*border-bottom: 1px solid #F6F4F4;*/
    text-decoration: none;
}

a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0;
    left: 0;
    background: #F6F4F4;
    transition: width .3s ease;
}

a:hover:after {
    width: 100%;
    left: 0;
    background: #F6F4F4;
}

a:focus {
    color: #F6F4F4;
    border-bottom: 1px solid #2C2727;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

.main-text {
    font: 300 40px/1 "Montserrat", Helvetica, sans-serif;
    margin-bottom: 1em;
}

.main-text_link {
    font: 300 40px/1 "Montserrat", Helvetica, sans-serif;
}

.main-text-small {
    font-size: 15px;
}

.logo {
    background: url("logo.svg") no-repeat top left, top left;
    background-size: auto, auto 100%;
    width: 67px;
    height: 67px;
    padding: 0;
    margin: 0;
}

.section_start {
    z-index: 1000;
    position: relative;
    padding: 96px 0 96px 96px;
    width: calc(100vw - 96px - 7em);
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
}

.section_info {
    z-index: 1000;
    position: relative;
    padding: 96px 0 96px 96px;
    width: calc(100vw - 96px - 7em);
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
}


.section_works {
    z-index: 1000;
    position: relative;
    padding: 96px 0 96px 96px;
    margin-top: -15em;
    width: 100%;
    /*margin: auto;*/
    display: -webkit-box;
    /*display: flex;*/
    box-sizing: border-box;
    min-height: 100vh;
}

.works {
    color: #F6F4F4;
    margin: 0;
    padding: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    opacity: 1;
}

.section_end {
    z-index: 700;
    position: relative;
    margin-top: -15em;
    padding: 96px 0 96px 96px;
    width: 100%;

    display: -webkit-box;
    /*display: flex;*/
    box-sizing: border-box;
    min-height: 100vh;
}

.next_page {
    /*border: 1px solid #F6F4F4;*/

    background-color: #2C2727;
    margin: 0;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .8s ease-in-out;
    opacity: 1;
}

.next_page:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
    /*border: 1px #2C2727;*/
    /*opacity: 1;*/

}

canvas:hover {
    /*-webkit-filter: invert(1);*/
    /*filter: invert(1);*/
}

.column-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.section-bio {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.col-section {
    width: 100%;
    max-width: 750px;
}

.col-section_page {
    width: 100%;
    text-align: center;
    /*max-width: 750px;*/
}

.main-text-works {
    font: 300 40px/1 "Montserrat", Helvetica, sans-serif;
}

.page-link {
    /*z-index: ;*/
    position: absolute;
    top: calc(30vh - 50px);
    left: calc(50% - 50px);
}

.bio {
    font-size: 96px;
    font-weight: 100;
    margin-bottom: -0.45em;
    max-width: 700px;
}

.list {
    margin-top: 3.2em;
}

.list-item {
    margin-top: 0.25em;
    margin-bottom: 2em;
}

.list-item:last-child {
    margin-bottom: -0.4em;
}

/*Scrunch - on hover change background*/

.scrunch {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.scrunch:after {
    background: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    right: 96px;
    bottom: 92px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: end;
    align-items: flex-end;
}

.footer-links {
    margin-top: 1em;
    line-height: 1;
}


/*CUSTOM CSS OVERRIDE*/

.js-scroll {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    will-change: transform;
}


.loader {
    transition: .5s cubic-bezier(1, 0.01, 0.29, 1.01);
    background-color: #F6F4F4;
    left: 0;
    right: 100%;
    position: fixed;
    height: 100%;
    z-index: 101;
}

.loading:after {
    background-color: #2C2727;
    content: " ";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.hidden {
    display: none;
}

/*image reveal on hover */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    /*border: solid 1px #fff;*/
}

ul li {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: 60px;
    text-align: center;
    -webkit-text-stroke: 1px #F6F4F4;
    color: transparent;
    /*margin-top: 48px;*/

}

.top {
    margin-top: 48px;
}


img {
    position: absolute;
    width: 30%;
    /*height: 60%;*/
    object-fit: contain;
    transform: translateX(-180%) translateY(-100%);
    transition: all ease;
    top: 50%;
    left: calc(50% - 50px);
    z-index: 10;
}

/*3D canvas*/

canvas {
    /*position: absolute;*/
    top: 0;
    left: 0;
    /*border: 1px solid #fff;*/
}

/*Override for the three JS object*/

.three {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

/*END: Override for the three JS object*/

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: #2C2727;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*width: 18px;*/
    background: #F6F4F4;
}

/*Scrollbar override*/

/*Cursor - Cursor */

.cur {
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #2C2727;
    transition: all 250ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
}

/*info section text*/

.p_text {
    padding: 2px;
    font-size: 15px;
    font-weight: 300;
    margin-top: 1em;
    text-align: justify-all;
}

.z_inx {
    z-index: 900 !important;
}

/*cursor */
.objCursor {
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #FF7517;
    transition: all 600ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
}

.cur_cur {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #2C2727;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
}

.hover {
    background-color: #2C2727;
    opacity: 0.4;
}

.cursor_down {
    width: 50px;
    height: 50px;
    opacity: .4;
    transition: all .5s ease-in-out;
}

/*cursor effect*/

/*Scroll down notification */

.box {
    z-index: 10;
    position: fixed;
    top: calc(88vh - 50px);
    left: calc(100% - 50px);
    transform: translate(-50%, -50%);
}

.mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #F6F4F4;
    height: 100px;
    width: 50px;
    position: relative;
}

.move {
    position: absolute;
    background-color: #2C2727;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}

.move_2 {
    position: absolute;
    background-color: #FF7517;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(-50%, 10px);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 40px);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 80px);
        opacity: 0;
    }
}

@keyframes animate {

    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*End of scroll down effect*/

/*Media Queries on responsive-ness*/

@media (max-width: 600px) {
    .logo {
        width: 67px;
        height: 67px;
    }

    .section {
        display: block;
        min-height: 40vh;
    }

    .section_works {
        display: block;
        min-height: 48vh;
    }

    .section_info {
        display: block;
        min-height: 48vh;
    }

    .section_end {
        display: block;
        min-height: 48vh;
        margin-top: 150em;
    }

    .works {
        color: #2C2727;
    }

    .next_page {
        background-color: #F6F4F4;
        color: #2C2727;
        text-align: center;
    }


    .column-section-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .col-section {
        margin-bottom: 15vw;
    }

    .bio {
        padding-top: 15vw;
        font-size: 18px;
    }

    /*
      canvas {
          display: none;
      }
      .three{
          display:none;
      }

    */
}

@media (max-width: 854px) {
    .logo {
        width: 67px;
        height: 67px;
    }

    .mouse {
        height: 60px;
        width: 30px;
    }


    @keyframes move {
        0% {
            transform: translate(-50%, 10px);
            opacity: 0;
        }
        50% {
            transform: translate(-50%, 20px);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, 40px);
            opacity: 0;
        }
    }
}

@media (max-width: 1024px) {
    .section_start {
        padding: 48px 0 48px 48px;
        width: calc(100vw - 48px - 7em);
    }

    .section_info {
        padding: 48px 0 48px 48px;
        width: calc(100vw - 48px - 7em);
    }

    .section_works {
        padding: 48px 0 48px 48px;
        width: calc(100vw - 48px - 7em);
    }

    .section_end {
        padding: 48px 0 48px 48px;
        width: calc(100vw - 48px - 7em);

    }

    .section {
        padding: 48px 0 48px 48px;
        width: calc(100vw - 48px - 7em);
    }

}

@media (max-width: 950px) {
    .section_start {
        padding: 7.5vw;
        width: 100%;
    }

    .works {
        color: #2C2727;
    }

    .next_page {
        background-color: #F6F4F4;
        color: #2C2727;
        text-align: center;
        padding: .4em .4em;
    }

    .next_page a {
        font-size: 24px;
    }

    img {
        transform: translateX(-180%) translateY(-180%);
    }

    ul li {
        font-size: 58px;
    }

    .section_info {
        padding: 7.5vw;
        width: 100%;
    }

    .section_end {
        padding: 7.5vw;
        width: 100%;
        margin-top: -5em;
        margin-bottom: 2em;
    }


    .section_works {
        padding: 7.5vw;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .section {
        padding: 7.5vw;
        width: 100%;
    }

    .bio {
        font-size: 68px;
    }

    .footer {
        position: relative;
        right: auto;
        bottom: auto;
        padding: 0 7.5vw 7.5vw;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .footer-links {
        display: inline;
    }
}


